@media (max-width: 600px) {
  .menu i {
    display: block;
    font-size: 7vw;
  }
  .navbar{
  padding: 3vw 7vw;
  }

  .navbar .logo {
    font-size: 5vw;
    /* background-color: red; */
  }
  .nav-links ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    top: 100%;
    right: -100%;
    width: 50%;
    height: 100vh;
    /* background-color: red; */
    padding: 4vw 5vw ;
    gap: 5vw;
  }
  .nav-links ul.open{
    right: 0;
    
  }
}
@media screen and (min-width:601) and (max-width: 900px){

      .navbar{
      padding: 3vw 7vw;
      }
    
      .navbar .logo {
        font-size: 6vw;
        /* background-color: red; */
      }
      .nav-links ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 60px;
        top: 100%;
        right: -100%;
        width: 50%;
        height: 100vh;
        /* background-color: red; */
        padding: 4vw 5vw ;
        gap: 5vw;
      }
      .nav-links ul.open{
        right: 0;
        
      }
}